/* common styles */
*{
    font-family: Mulish;
    margin: 0;
    padding: 0;
}
/* banner styles */
.banner{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    width: 1170px;
height: 500px;
border-radius: 16px;
margin: 30px 150px;
background-color: #E6E6FA;   
}

.banner-title{
    color: #FFF;
font-size: 64px;
font-weight: 800;
text-align: center;
padding: 106px 287px 0;
}

.banner-description{
    color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
padding: 24px 210px 48px;
}

.banner-input{
    display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
margin-left: 150px;
}

#whereInput{

    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: 0;

}
#whereInput input{
    color: rgba(19, 19, 24, 0.50);
text-align: center;
font-size: 16px;
font-weight: 400;
padding: 16px 80px 16px 16px;
}
.whenDropdown{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
font-size: 16px;
font-weight: 400;
border: 0;
}

.typeDropdown{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
color: rgba(19, 19, 24, 0.50);
font-size: 16px;
font-weight: 400;
border: 0;
}

.btn-primary{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
background: #FF5400;
border: 0;
}
.btn-primary> img , span {
    display: inline;
   
}
.btn-primary:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #5f1800;
}
.find-me{
    color: #FFF;
font-size: 16px;
font-weight: 700;
}
.btn-primary > img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    padding-right: 5px;
}
/* popular section styles */
.tour-container{
    display: flex;
    justify-content: space-between;
}
.Our-Popular-Tours{
background: #FFF;
margin-left: 40px;
}

.tour-title{
    color: #131318;

font-size: 40px;
font-weight: 800;
}
.tour-descrption{
    padding:24px 0;
}

.tour-descrption , .tour-description{
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.tour-description{
    margin-left: 20px;
    padding: 18px 0;
}
.btn-read-me{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
border: 0;
}
.read{
    color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 800;
}
.Rectangle-4{
    width: 540px;
height: 550px;
flex-shrink: 0;
border-radius: 16px;
background: url('../Images/Rectangle\ 4.png'), lightgray 50% / cover no-repeat;
}

/* Choose Your Destination styles */

.destination-title{
    color: #131318;
text-align: center;
font-size: 35px;
font-weight: 800;
padding: 150px 480px 24px;
}
.destination-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    padding: 0 390px 45px ;
}

.one{
margin-right: 10px;
}
.three{
margin-right: 10px;
}
.four{
margin-right: 10px;
}
.six{
margin-right: 10px;
}
.collage{
    width: 90%;
margin: auto;
    display: grid;
   grid-template-columns: repeat(1fr);
  gap: 24px;
}
/* Why Choose Us styles */
.Choose-Us-title{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
padding-bottom: 24px;
width: 50%;
margin: auto;
margin-top: 150px;
}
.Choose-Us-description{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin: 0 390px;
}
.eight{
    grid-area: eight;
    margin-left: 50px;
}
.nine{
    grid-area: nine;
}
.ten{
    grid-area: ten;
}
.eight, .nine, .ten{
    width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.choose-img{
    width: 64px;
height: 64px;
flex-shrink: 0;
}
.choose-title{
    color: #131318;
text-align: center;
font-size: 24px;
font-weight: 800;
}
.choose-description{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.choose{
    margin: 50px;
    display: grid;
    grid-template-areas: 
    "eight eight eight nine nine nine"
    " .      .    ten  ten   .     .";
    gap: 20px;

}

/* Newsletter styles */

.Newsletter-section{
    display: flex;
}
.Newsletter{
    width: 672px;
height: 522px;
background: #FFF;
margin-left: 50px;

}
.Newsletter-title{
    color: #131318;
font-size: 24px;
font-weight: 800;
padding-bottom: 16px;

}
.Newsletter-description{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px;


}
.Newsletter-descrip{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 0;
    padding-bottom: 68px;
}
.line{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    padding-top: 50px;
    
}
.name{
    width: 393px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
padding-bottom: 16px;
border: 0;
}
.name input{
    color: rgba(19, 19, 24, 0.30);
font-size: 16px;
font-weight: 400;
padding: 16px 170px 16px 20px;
}
.email{
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
padding-bottom: 24px;
border: none;
}
.email input{
    color: rgba(19, 19, 24, 0.30);
font-size: 16px;
font-weight: 400;
padding: 16px 170px 16px 20px;
}
.subscribe{
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
background: #FF5400;
border: 0;
text-align: center;
}
.Subscribe-btn{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: 0;
}

.travel-img{
    width: 572px;
height: 422px;
border-radius: 16px;
background: url("../Images/Group\ 40089.png"), lightgray 50% / cover no-repeat;
background-repeat: no-repeat;
}

/* transform styles */
.Travel-com{
    color: #FFF;
text-align: center;
font-size: 24px;
font-weight: 400;
padding: 20px 103px 8px;
}
.Save-up{
    color: #FFF;
font-size: 32px;
font-weight: 800;
text-align: center;
}
.travel-trans{
    width: 324px;
height: 120px;
transform: rotate(-19.628deg);
flex-shrink: 0;
border-radius: 16px;
background: #FF5400;
position: relative;
top: -170px;
left: 238px;
}
/* footer section styles */
.footer{
    width: 1440px;
height: 502px;
flex-shrink: 0;
background: rgba(19, 19, 24, 0.05);
margin-top: 400px;
}
.font{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.group-img{
    width: 40px;
height: 46.673px;
flex-shrink: 0;
padding-right: 16px;
padding-bottom: 15px;
}
.footer-title{
    color:  #131318;
font-weight: 800;
padding-bottom: 15px;
}
.footer-title-travel{
    color: #FF5400;
font-size: 32px;
font-weight: 800;
padding-bottom: 15px;
}
.footer-description{
    color: #5A5A5D;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px;
padding: 0 300px 35px;
}

.line-one{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    padding-top: 20px;
    width: 1320px;
height: 1px;
}
.social-icons{
    justify-content: center;
    padding: 0px 570px 20px;
}
.line-two{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    padding-top: 50px;
    width: 872px;
height: 1px;
}
.rights{ color: #131318;
font-size: 16px;
font-weight: 300;
justify-content: center;
padding: 150px 0 110px;
margin-left: 560px;
}





@media only screen and (max-width: 576px) {
    .banner{
        width: 90%;
        margin: auto;

    }
    .banner-title {
        padding: 30px 10px 0;
        font-size: 20px;
    }

    .banner-description {
        padding: 10px;
        font-size: 10px;
    }

    .banner-input {
        display: flex;
        flex-direction:column ;
        align-items: center;
        margin: 10px;
        gap: 5px;
    }

    .tour-container {
        margin-top: 30px;
        flex-direction: column;
        margin-left: 0;
       
    }
    .Our-Popular-Tours{
        margin-left: 10px;
    }

    .tour-title{
        font-size: 20px;

    }
    .tour-descrption, .tour-description{
        line-height: 24px; 
    }
    

    .Rectangle-4 {
        width: 100%;
        height: auto;
        
    }

    .destination-title {
        padding: 30px 10px 10px;
        font-size: 20px;
    }

    .destination-description {
        padding: 0 10px 20px;
    }

    .Choose-Us-title {
        width: 100%;
        margin-top: 30px;
        font-size: 20px;
    }

    .Choose-Us-description {
        margin: 0 10px;
    }

    .choose {
        margin: 10px;
        
    }

    .Newsletter-section {
        flex-direction: column;
    }

    .Newsletter {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .line {
        flex-direction: column;
        padding-top: 10px;
    }

    .name,
    .email {
        width: 100%;
    }
    

    .footer {
        width: 100%;
        margin-top: 20px;
    }
    .footer-description{
        padding: 0;
    }

    .font {
        margin-top: 10px;
    }

    .line-one {
        width: 100%;
        padding-top: 10px;
    }

    .social-icons {
        padding: 0px 10px 20px;
    }

    .line-two {
        width: 100%;
        padding-top: 10px;
    }

    .rights {
        margin-left: 10px;
    }
}






