/* common styles */
*{
    font-family: Mulish;
    margin: 0;
    padding: 0;
}
/* banner styles */
.banner{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    width: 1170px;
height: 500px;
flex-shrink: 0;
border-radius: 16px;
margin: 30px 150px;
background-color: #E6E6FA;   
}

.banner-title{
    color: #FFF;
font-size: 64px;
font-weight: 800;
text-align: center;
padding: 106px 287px 0;
}

.banner-description{
    color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
padding: 24px 210px 48px;
}

.banner-input{
    display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
margin-left: 150px;
}

#whereInput{

    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
color: rgba(19, 19, 24, 0.50);
font-size: 16px;
font-weight: 400;
border: 0;

}
.whenDropdown{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
font-size: 16px;
font-weight: 400;
border: 0;
}

.typeDropdown{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
color: rgba(19, 19, 24, 0.50);
font-size: 16px;
font-weight: 400;
border: 0;
}

.btn-primary{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
background: #FF5400;
border: 0;
}
.btn-primary:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #5f1800;
}
.find-me{
    color: #FFF;
font-size: 16px;
font-weight: 700;
}
.btn-primary > img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
/* popular section styles */
.tour-container{
    display: flex;
    justify-content: space-between;
}
.Our-Popular-Tours{
background: #FFF;
margin-left: 40px;
}

.tour-title{
    color: #131318;

font-size: 40px;
font-weight: 800;
}
.tour-descrption{
    padding:24px 0;
}

.tour-descrption , .tour-description{
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.tour-description{
    margin-left: 20px;
    padding: 18px 0;
}
.btn-read-me{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
border: 0;
}
.read{
    color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 800;
}
.Rectangle-4{
    width: 540px;
height: 550px;
flex-shrink: 0;
border-radius: 16px;
background: url('../Images/Rectangle\ 4.png'), lightgray 50% / cover no-repeat;
}

/* Choose Your Destination styles */

.destination-title{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
padding: 150px 480px 24px;
}
.destination-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    padding: 0 390px 45px ;
}
.one,
.two,
.three,
.four,
.five,
.six,
.seven{
    margin: 0;
}
.one,
.two,
{
    width: 573px;
    height: 300px;
    flex-shrink: 0;
}
.three{
    width: 374px;
height: 286px;
flex-shrink: 0;
}
.four{
    width: 474px;
height: 286px;
flex-shrink: 0;
padding-right: 0;
}
.five{
    width: 274px;
height: 286px;
flex-shrink: 0;
padding-left: 0;
}
.six{
    width: 473px;
height: 300px;
flex-shrink: 0;
}
.seven{
    width: 673px;
height: 300px;
flex-shrink: 0;
}

.one {
    grid-area: one;
    margin-left: 50px;
}
.two {
    grid-area: two;
    margin-left: 50px;
}
.three {
    grid-area: three;
    margin-left: 50px;
}
.four {
    grid-area: four;
    margin-right: 0;
}
.five {
    grid-area: five;
   
}
.six {
    grid-area: six;
    margin-left: 50px;
}
.seven {
    grid-area: seven;
}
.collage {
    display: grid;
    grid-template-areas:
        "one    one    one    two    two    two"
        "three  three  four   four   four   five"
        "six    six    six   seven  seven  seven";
    grid-template-columns: repeat(2, 1fr) repeat(3, 1fr) repeat(2, 1fr); 
    grid-column-gap: 24px; 
    grid-row-gap: 10px; 
}

/* Why Choose Us styles */
.Choose-Us-title{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
padding-bottom: 24px;
margin: 150px 560px 0;
}
.Choose-Us-description{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin: 0 390px;
}
.eight{
    grid-area: eight;
    margin-left: 50px;
}
.nine{
    grid-area: nine;
}
.ten{
    grid-area: ten;
}
.eight, .nine, .ten{
    width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.choose-img{
    width: 64px;
height: 64px;
flex-shrink: 0;
}
.choose-title{
    color: #131318;
text-align: center;
font-size: 24px;
font-weight: 800;
}
.choose-description{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.choose{
    display: grid;
    grid-template-areas: 
    "eight eight eight nine nine nine"
    " .      .    ten  ten   .     .";
    gap: 20px;

}

/* Newsletter styles */

.Newsletter-section{
    display: flex;
}
.Newsletter{
    width: 672px;
height: 522px;
background: #FFF;
margin-left: 50px;

}
.Newsletter-title{
    color: #131318;
font-size: 24px;
font-weight: 800;
padding-bottom: 16px;

}
.Newsletter-description{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px;


}
.Newsletter-descrip{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 0;
    padding-bottom: 68px;
}
.line{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    padding-top: 50px;
    
}
.name{
    width: 393px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
padding-bottom: 16px;
border: 0;
}
.name input{
    color: rgba(19, 19, 24, 0.30);
font-size: 16px;
font-weight: 400;
padding: 16px 170px 16px 20px;
}
.email{
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
padding-bottom: 24px;
border: none;
}
.email input{
    color: rgba(19, 19, 24, 0.30);
font-size: 16px;
font-weight: 400;
padding: 16px 170px 16px 20px;
}
.subscribe{
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
background: #FF5400;
border: 0;
text-align: center;
}
.Subscribe-btn{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: 0;
}

.travel-img{
    width: 572px;
height: 422px;
border-radius: 16px;
background: url("../Images/Group\ 40089.png"), lightgray 50% / cover no-repeat;
background-repeat: no-repeat;
}

/* transform styles */
.Travel-com{
    color: #FFF;
text-align: center;
font-size: 24px;
font-weight: 400;
padding: 20px 103px 8px;
}
.Save-up{
    color: #FFF;
font-size: 32px;
font-weight: 800;
text-align: center;
}
.travel-trans{
    width: 324px;
height: 120px;
transform: rotate(-19.628deg);
flex-shrink: 0;
border-radius: 16px;
background: #FF5400;
position: relative;
top: -170px;
left: 238px;

}










/* Responsive styles for smaller screens (mobile devices) */
@media screen and (max-width: 592px) {
    .banner {
        width: 100%;
        height: auto;
        margin: 30px 0;
        padding: 20px; /* Adjust padding as needed */
    }

    .banner-title,
    .banner-description {
        padding: 20px; /* Adjust padding as needed */
    }

    .banner-input {
        margin-left: 0;
    }

    #whereInput,
    .whenDropdown,
    .typeDropdown,
    .btn-primary {
        width: 100%;
        margin-bottom: 10px; /* Adjust margin as needed */
    }
}